body{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100% !important;
}
.content{
  height: 100% !important;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container{
  margin-bottom: 10%;
}
.SettingsDiv{
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 15px;
  margin: 1%;
  padding: 3%;
  height: auto;
}
.SettingsDivNest{
  margin: 2.523%;
  padding: 7.565%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media only screen and (max-width: 600px){
  .SettingsDivNest{
    margin: 1%;
    padding: 3%;
  }
}
=
@media only screen and (max-width: 600px){
  .profilecheck{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
  }
}
.btnprofilesettings{
  width: 49% !important;
  margin: 0% !important;
  margin-bottom: 2% !important;
  display: inline-block !important;
  text-align: center !important;
}
.swiper-container {
 width: 100%;
 height: 60%;
}
.swiper-slide {
 text-align: center;
 font-size: 18px;
 border-radius: 15px;
 padding: 1%;
 overflow-x: hidden;
 overflow-y: auto;
}
