body{
  overflow-x: hidden;
  height: 100% !important;
}
.content{
  height: 100% !important;
  padding: 1%;
}
.SettingsDiv{
  overflow: hidden;
  border-radius: 15px;
  margin: 1%;
  padding: 3%;
  height: 100%;
}
.SettingsDivNest{
  margin: 2.523%;
  padding: 7.565%;
}
@media only screen and (max-width: 600px){
  .SettingsDivNest{
    margin: 1%;
    padding: 3%;
  }
}
