body{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100% !important;
}
.content{
  height: 100% !important;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container{
  margin-bottom: 10%;
}
.SettingsDiv{
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 15px;
  margin: 1%;
  padding: 3%;
  height: auto;
}
.SettingsDivNest{
  margin: 2.523%;
  padding: 7.565%;
  overflow-x: hidden;
  overflow-y: auto;
}
@media only screen and (max-width: 600px){
  .SettingsDivNest{
    margin: 1%;
    padding: 3%;
  }
}

  .profilecheck{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    margin-right: 3%;
  }
.btnprofilesettings{
  width: 49% !important;
  margin: 0% !important;
  margin-bottom: 2% !important;
  display: inline-block !important;
  text-align: center !important;
}
.swiper-container {
 width: 100%;
 height: fit-content !important;
}
.swiper-slide {
 text-align: center;
 font-size: 18px;
 border-radius: 15px;
 padding: 1%;
 overflow-x: hidden;
 overflow-y: auto;
}
.widebtn{
  width: 100% !important;
  margin-top: 2% !important;
}

	.logo {
		display: none;
	}
	.logo2 {
		height: 100px;
		width: 100px;
	}
	.carousel {
		background-color: ;
	}
	.carousel-cell {
		width: 350px;
		height: 350px;
		margin-right: 40px;
		border-radius: 5px;
		counter-increment: gallery-cell;
		top: 50%;
		transform: translateY(-50%);
     text-align: center;
     font-size: 18px;
     border-radius: 15px;
     padding: 1%;
     overflow-x: hidden;
     overflow-y: auto;
	}

  @media only screen and (max-width: 600px){
    .carousel-cell {
       padding: 7%;
  	}
  }

	.flickity-slider {
		position: fixed;
		height: 100%;
		width: 100%;
	}
	.static-banner {
		position: fixed;
		background: hsla(0, 0%, 0%, 0.3);
		z-index: 1;
		padding: 2px 20px;
		font-size: 26px;
		color: white;
		pointer-events: none;
		left: 10px;
		top: 10px;
	}
	.bannerimage {
		height: 100%;
		width: 100%;
	}
	.banner {
		position: absolute;
		z-index: 1;
		font-size: 30px;
		top: 25%;
		left: 20%;
		right: 20%;
		text-align: center;
	}
	.flickity-prev-next-button {
		position: fixed;
		top: 50%;
		width: 44px;
		height: 44px;
		border: none;
		border-radius: 50%;
		background: white;
		background: hsla(0, 0%, 100%, 0.75);
		cursor: pointer;
		/* vertically center */
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

.btnswiper{
  width: 50%;
  height: 50%;
}
